.darkTheme body {
  background-color: #272D3E; }
.darkTheme header {
  background-color: #272D3E;
  color: black;
  border-bottom: 1px solid black; }
.darkTheme #first {
  border: 1px solid black; }
.darkTheme #second {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
.darkTheme #third {
  border: 1px solid black; }
.darkTheme #fourth {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }
.darkTheme #fivth {
  border-bottom: 1px solid black; }
.darkTheme #sixth {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }
.darkTheme #seventh {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }
.darkTheme #eight {
  border-bottom: 1px solid black; }
.darkTheme #nine {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }
.darkTheme #scoreboard {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: Trebuchet MS;
  box-sizing: border-box;
  border: 1px solid white; }
.darkTheme table {
  width: 100%;
  height: 70%;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  border-collapse: collapse; }
.darkTheme td {
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px; }
.darkTheme th {
  background-color: #272D3E;
  width: 33.3%;
  padding: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px; }
.darkTheme tr:nth-child(1) {
  background-color: #4FD286; }
.darkTheme tr:nth-child(2) {
  background-color: #D2613E; }
.darkTheme tr:nth-child(3) {
  background-color: #37CFBB; }
.darkTheme tr {
  margin-top: 0px; }
.darkTheme #totalGames {
  margin: 0px;
  width: 100%;
  height: 30%; }
.darkTheme h5 {
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  padding: 6px;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #272D3E; }
.darkTheme p {
  text-align: center;
  margin: 0px;
  padding: 5px;
  color: white;
  background-color: #807aed;
  border-bottom: 1px solid white;
  font-family: "Roboto", sans-serif; }

.brightTheme body {
  background-color: white; }
.brightTheme header {
  background-color: #03A9F4;
  color: white;
  border-bottom: 0px; }
.brightTheme #first {
  border: 1px solid #94c1f3; }
.brightTheme #second {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange; }
.brightTheme #third {
  border: 1px solid #94c1f3; }
.brightTheme #fourth {
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange; }
.brightTheme #fivth {
  border-bottom: 1px solid #ffb9ad; }
.brightTheme #sixth {
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue; }
.brightTheme #seventh {
  border-bottom: 1px solid #ffb9ad;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightgreen; }
.brightTheme #eight {
  border-bottom: 1px solid lightblue; }
.brightTheme #nine {
  border-left: 1px solid #f0f000;
  border-right: 1px solid #f0f000;
  border-bottom: 1px solid #f0f000; }
.brightTheme #scoreboard {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: Trebuchet MS;
  box-sizing: border-box;
  border: 1px solid black; }
.brightTheme table {
  width: 100%;
  height: 70%;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-collapse: collapse; }
.brightTheme td {
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px; }
.brightTheme th {
  background-color: #272D3E;
  width: 33.3%;
  padding: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px; }
.brightTheme tr:nth-child(1) {
  background-color: #4FD286; }
.brightTheme tr:nth-child(2) {
  background-color: #D2613E; }
.brightTheme tr:nth-child(3) {
  background-color: #37CFBB; }
.brightTheme tr {
  margin-top: 0px; }
.brightTheme #totalGames {
  margin: 0px;
  width: 100%;
  height: 30%; }
.brightTheme h5 {
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  padding: 6px;
  border-bottom: 1px solid black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #272D3E; }
.brightTheme p {
  text-align: center;
  margin: 0px;
  padding: 5px;
  color: white;
  background-color: #807aed;
  border-bottom: 1px solid black;
  font-family: "Roboto", sans-serif; }

@-webkit-keyframes hover {
  0% {
    background-color: #404040; }
  100% {
    background-color: #876bdb; } }
@-webkit-keyframes hoverSecond {
  0% {
    background-color: #404040; }
  100% {
    background-color: #09a7fd; } }
@-webkit-keyframes hoverThird {
  0% {
    background-color: #404040; }
  100% {
    background-color: #4f98ec; } }
@-webkit-keyframes changeColor {
  0% {
    color: white; }
  60% {
    color: #32F183; }
  80% {
    color: white; }
  100% {
    color: #32F183; } }
@-webkit-keyframes changeColorRed {
  0% {
    color: #E32121; }
  20% {
    color: white; }
  40% {
    color: #E32121; }
  60% {
    color: white; }
  80% {
    color: #E32121; }
  100% {
    color: white; } }
#oneB:hover {
  -webkit-animation: hover 0.7s forwards; }

#oB:hover {
  -webkit-animation: hoverThird 0.7s forwards; }

#theme:hover {
  -webkit-animation: hoverThird 0.7s forwards; }

.static body {
  margin: 0px;
  padding: 0px; }
.static h2 {
  font-size: 62px;
  text-align: center;
  padding: 20px;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0px;
  color: white; }
.static html {
  margin: 0px;
  padding: 0px;
  background-color: #272D3E; }
.static .endMessage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: black;
  -webkit-filter: blur(0px); }
.static #pEndMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #14A0F9;
  font-family: "Francois One", sans-serif;
  letter-spacing: 8px;
  margin: 0px;
  -webkit-filter: blur(0px); }
.static #first, .static #second, .static #third, .static #fourth, .static #fivth, .static #sixth, .static #seventh, .static #eight, .static #nine {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  float: left;
  width: 33%;
  height: 33.3333%;
  z-index: 1000; }
.static .default {
  background-color: #f7f7f7;
  cursor: pointer; }
.static .changeKid {
  font-size: 96px;
  font-family: trebuchet ms;
  color: #2196F3; }
.static .change {
  background-color: #31384e;
  transform: rotateY(180deg);
  transition: transform 0.6s;
  cursor: default; }
.static .hidden {
  -webkit-filter: blur(10px); }
.static #buttons {
  box-sizing: border-box;
  text-align: center;
  margin-top: 25px; }
.static #main {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 1; }
.static #oneB, .static #xB, .static #oB {
  border: 1px solid black;
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
  background-color: #404040;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  margin: 0px 5px 0px 5px;
  padding: 10px 25px 10px 25px;
  color: white; }
.static #theme {
  border: 1px solid black;
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
  background-color: #404040;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  margin: 25px 10px 0px 10px;
  padding: 10px 25px 10px 25px;
  color: white; }
@media (max-width: 650px) {
  .static #main {
    width: 460px;
    height: 460px; }
  .static #scoreboard {
    width: 95%; }
  .static #oneB, .static #oB {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px; }
  .static #oneB:active {
    -webkit-animation: hover 0.7s forwards; }
  .static #oB:active {
    -webkit-animation: hoverThird 0.7s forwards; }
  .static #theme {
    width: 100%;
    margin-left: 0px; }
    .static #theme:active {
      -webkit-animation: hoverSecond 0.7s forwards; } }
@media (max-width: 450px) {
  .static #main {
    width: 350px;
    height: 350px; }
  .static #oneB, .static #oB {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px; }
  .static #oneB:active {
    -webkit-animation: hover 0.7s forwards; }
  .static #oB:active {
    -webkit-animation: hoverThird 0.7s forwards; }
  .static #theme {
    width: 100%;
    margin-left: 0px; }
    .static #theme:active {
      -webkit-animation: hoverSecond 0.7s forwards; }
  .static h2 {
    font-size: 56px; }
  .static .changeKid {
    font-size: 72px; } }
@media (max-width: 350px) {
  .static #main {
    width: 300px;
    height: 300px; }
  .static #oneB, .static #oB {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 16px; }
  .static #oneB:active {
    -webkit-animation: hover 0.7s forwards; }
  .static #oB:active {
    -webkit-animation: hoverThird 0.7s forwards; }
  .static #theme {
    width: 100%;
    margin-left: 0px; }
    .static #theme:active {
      -webkit-animation: hoverSecond 0.7s forwards; }
  .static h2 {
    font-size: 46px; }
  .static .changeKid {
    font-size: 62px; } }
